html {
    background-color: midnightblue;
}
.welcome,h1{
    color: white
}

.votre {
    color: red
}
img {
    float: left;
}
.welcome {
    float: right;
    margin: 0;
    left: 20px;
    top: 20px;
}
.right {
    clear: both;
}
.footer {
    text-align: right;
}